:root {
  --main-bg-color: #222021;
  --main-txt-color: #fff;
  --container-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Tungsten;
  font-weight: bold;
  src: url("./assets/fonts/Tungsten-Bold.otf") format("opentype");
}

@font-face {
  font-family: Tungsten;
  font-weight: semibold;
  src: url("./assets/fonts/Tungsten-Semibold.otf") format("opentype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Tungsten semibold;
}

p {
  font-size: 10px;
  line-height: 0.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}